@(u: models.user.User)
<div class="header"><!--header starts here-->
    <div class="tittle"><p>WheelPool.in</p></div>
    <div class="nav-holder"><!--nav-holder starts here-->
        <a class="nav-1" href="@controllers.home.routes.HomeController.home()"></a>
        <a class="nav-2" href="#"></a>
        <a class="nav-3" href="#"></a>
        @if(u != null) {
        <a class="nav-4" href="@controllers.ride.routes.RideController.postRide()"></a>
        <a class="nav-5" href=""></a>
        } else {
        <a class="nav-4" href="@controllers.routes.SignupController.signup()"></a>
        <a class="nav-5" href="@controllers.routes.AuthenticationController.login()"></a>
        }
        <div class="clear"></div>
    </div><!--nav-holder ends here-->
    <div class="clear"></div>
</div>