<div class="header"><!--header starts here-->
    <div class="tittle"><p>WheelPool.in</p></div>
    <div class="nav-holder"><!--nav-holder starts here-->
        <a class="nav-1" href="../view/home.php"></a>
        <a class="nav-2" href="#"></a>
        <a class="nav-3" href="#"></a>
        <a class="nav-4" href="@controllers.routes.SignupController.signup()"></a>
        <a class="nav-5" href="../view/login.php"></a>
        <div class="clear"></div>
    </div><!--nav-holder ends here-->
    <div class="clear"></div>
</div>