@(title: String)

@form(title) {
<div class="register-box-holder"><!--register-box-holder starts here-->
    <div class="register-box"><!--register-box starts here-->
        <div class="register-icon"></div>
        <div class="line"></div>
        <div class="register-form-holder">
            <form method="post" name="register" id="register" action="@controllers.routes.SignupController.handleSignup()" data-uri="">
                <p>LOGIN INFORMATION</p>
                <input class="regTxt blur-txt email" name="email" type="text" placeholder="email" title="Email"/>
                <input class="regTxt blur-txt password" name="password" type="password" placeholder="password" title="Password" />
                <input class="regTxt blur-txt" name="confirmPassword" type="password" placeholder="confirm password" title="Confirm Password" />
                <p>USER INFORMATION</p>
                <input class="regTxt blur-txt" name="fullName" type="text" placeholder="full name" title="First Name"/>
                <input class="regTxt blur-txt" name="phone" type="text" placeholder="phone" title="Phone"/>
                <p>GENDER</p>
                <input name="gender" type="radio" value="MALE"/>Male
                <input name="gender" type="radio" value="FEMALE" />Female
                <input class="reg-btn" name="register" type="submit" value="Register" />
            </form>
        </div>
    </div><!--register-box ends here-->
</div><!--register-box-holder ends here-->
}